 
.container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, min(100%/5)));
    max-width: 1000px;
    grid-gap: 15px;
    margin: 0 auto;
    justify-content: center;   
}
    